body {
    padding: 0 10px;
}
button {
    background-color: yellow;  
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    transition-duration: 2s;
}
button:hover{
     background-color: green;   
}
button:active{
     background-color: brown;   
}
button:focus{
     outline: none;   
}

.block {
    height: 300px;
    width: 400px;
    margin: 40px 0 40px 20px;;
    float: left;
}

#id1 {
    background: -webkit-linear-gradient(top left, #ff7c00, yellow 45%, yellow 50%, yellow 55%, #ff7c00);
    background: -o-linear-gradient(top left, #ff7c00, yellow 45%, yellow 50%, yellow 55%, #ff7c00);
    background: linear-gradient(to bottom right, #ff7c00, yellow 45%, yellow 50%, yellow 55%, #ff7c00);   
}
#id2 {
    background: radial-gradient(circle closest-corner, #351054, #351054 10%, #ff7c00 45%);   
}
#id3 {
    background: url("img/1.jpg");   
    background-size: cover;
    transition-duration: 0.2s;
}
#id3:hover {
    transform: scale(2,2);
}
section {
     float: left;
    clear: both;
}
#card {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    transition: 0.5s;   
}
#card:hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);  
}
.square {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    color: azure;
    text-align: center;
    line-height: 50px;
}
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: purple;

}
.front {
    background: blue;
    z-index: 10;
}